# Игнорируем базы данных и локальные тома контейнеров
db_data/
drupal_data/
registry_data/

# Игнорируем файлы секретов и локальных настроек (Очень важно!)
.env

# Логи работы скриптов и системные логи
*.log

# Системный мусор macOS и Windows
.DS_Store
Thumbs.db

# Временные архивы и файлы, если они случайно останутся
*.zip
*.tmp
